name: Build and Test
on:
  push:
    branches:
      - main

jobs:
  build-container:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          export DOCKER_BUILDKIT=1
          REPO_OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          REPO_NAME=$(echo "${{ github.repository_name }}" | tr '[:upper:]' '[:lower:]')
          TAG_NAME=$(echo "${{ github.ref }}" | sed -e "s|refs/heads/||" | tr '/' '-')
          docker build -f prod.Dockerfile -t ghcr.io/${REPO_OWNER}/${REPO_NAME}:latest -t ghcr.io/${REPO_OWNER}/${REPO_NAME}:${TAG_NAME} .
          docker push ghcr.io/${REPO_OWNER}/${REPO_NAME} --all-tags
